*{
    margin: 0;
    padding: 0;
}



.item{
    display: block;
    position: relative;
    width: 100%;
    height: 4%;
    background-color: rgb(240, 173, 229);
    overflow: hidden;
    margin-top: 15px;
    border-bottom: 2px solid;
}
.divMain{
    position: absolute;
    display: inline-block;
    left: 0px;
    height: 100%;
    width: 87%;
    text-align: center;
   

}
.divHelper{
    position: absolute;
    right: 0px;
    width: 13%;
    height: 100%;

}
.favorite{
    position: absolute;
    display: inline;
    height: 100%;
    width: 20%;
    left: 0px;
    border: 2px solid;
    z-index: 3;

}

.fav{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    display: none;
}
.fav:checked{
    display: none;
}

.lable1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stick1{
    position: absolute;
    width: 100%;
    height: 100%;
}

.history{
    position: absolute;
    display: inline;
    right: 28%;
    height: 100%;
    width: 50%;
    background-color: rgb(123, 123, 245);
    text-align: center;
    border: 1px solid;
    z-index: 2;
}

.done{
    position: absolute;
    display: inline;
    width: 15%;
    height: 100%;
    right: 14%;
    background-color: brown;
    border: 4px solid black;
    z-index: 1;
}
.done:checked{
    background-color: greenyellow;
    z-index: 1;
}







.remove{
    position: absolute;
    display: inline;
    right: 0px;
    height: 100%;
    width: 15%;
    background-color: rgb(243, 105, 133);
}


